<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>Simple image and document search engine</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_data"><br>
                <input type="submit">
            </form>
            <h2>Query:</h2>
            {% if query_path %}
            <p>{{ query_path }}</p>
            {% endif %}
            <h2>Results:</h2>
            {% set count=[1] %}
            {% for d,s in docs %}
                <a href="file://{{ d }}">Document {{count}}</a> - {{s}}<br>
                {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
            {% endfor %}
        </div>
    </body>
</html>


